html {
    background-color: #f1f5f9;
    /* background-color: white; */
    /* font-family: "Libre Baskerville", serif; */
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }

  /* Countdown styling */

  .time-unit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .countdown-number{
    font-size: 48px;
  }

  .countdown-label{
    font-size: 20px;
    text-transform: uppercase;
  }

  .time-colon{
    font-size: 48px;
  }
  
