html {
    background-color: #f1f5f9;
    /* background-color: white; */
    /* font-family: "Libre Baskerville", serif; */
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
  }

 
  * {
    box-sizing: border-box;
  }

  .display-none{
    display: none;
  }

  .height-0{
    height: 0;
  }

  .unstyled-button{
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
  }

  /* Dishes list styling */
  
  .dishes{
    list-style-type: none;
    padding-left: 5rem;
    padding-right: 10rem;
    max-width: 1000px;
    overflow: hidden;
    transition: height 1.5s ease-out;
  }

  .listed-item-label, .food-explorer-button{
    font-weight: bold;
    font-size: 18px;
  }

  .dishes li{
    margin-bottom: 0.5rem;
  }

  .listed-item{
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .foods-group-label{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    text-transform: uppercase;
  }

  .foods-group-label:hover{
    cursor: pointer;
  }

  .dish-expand-pointer{
    font-weight: bold;
    transition: transform 0.5s ease-out;
  }

 

  .dishes-header-selected{
    color: #7d0000;
  }


  .food-explorer-navbar{
    display: flex;
    width: 50%;
    max-width: 550px;
    justify-content: space-evenly;
    margin-left: 3rem;
    /* align-items: flex-start; */
    /* border-bottom: 1px solid black; */
  }

  .food-explorer-header-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .food-explorer-button:hover{
    cursor: pointer;
    color: #7d0000;
  }

  .selected-label-button{
    color: #7d0000;
    border-bottom: 2px solid #7d0000;;
  }

  .vegan-leaf-symbol{
    width: 20px;
    height: auto;
    display: inline;
    margin-left: 0.5rem;
  }



  /* Countdown styling */

  .time-unit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .countdown-number{
    font-size: 48px;
  }

  .countdown-label{
    font-size: 20px;
    text-transform: uppercase;
  }

  .time-colon{
    font-size: 48px;
  }

  @media(max-width: 400px){
    .countdown-number{
     font-size: 36px;
    } 
 
    .countdown-label{
     font-size: 16px;
    }
 
    .time-colon{
     font-size: 30px;
    }

  }
  
  @media(max-width: 350px){
   .countdown-number{
    font-size: 24px;
   } 

   .countdown-label{
    font-size: 11px;
   }

   .time-colon{
    font-size: 20px;
   }

  }

   @media(max-width: 200px){
    .countdown-number{
     font-size: 10px;
    } 
 
    .countdown-label{
     font-size: 10px;
    }
 
    .time-colon{
     font-size: 10px;
    }

  }



   
  
