---
const {foods} = Astro.props;

type dishList = {
    label: string,
    food: string[]
}
---

{foods.map((dishes: dishList) =>(
    <ul>
    <h2>{dishes.label}</h2>

    {dishes.food.map((dish : string) => ( 
        <li>
            {dish}
        </li>
      ))}

</ul>

    ))}


<style>

    h2{
        text-transform: uppercase;
    }

    ul{
        list-style-type: none;
    }

    li{
        font-weight: bold;
        font-size: 18px;
        border-bottom: 1px solid black;
        margin-bottom: 2rem;
    }

</style>