---
---
    <button class="button-arounder">
        <slot />
    </button>


<style>

  button{
		width: fit-content;
		font-family: "EB Garamond", serif;
    font-weight: bold;
    font-style: normal;
		color: white;
		background-color: #9a0303;
		font-size: 16px;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 0.35rem;
		padding-bottom: 0.35rem;
		border-radius: 10px;
		text-transform: uppercase;
		border: none;
	}
	
	button:hover, button:active{
		background-color: #7d0000;
		cursor: pointer;
	}


</style>

